distributed:                                                                                                                                     
  dashboard:                                                                                                                                     
    # Locate the dashboard if working on a Jupyter Hub server                                                                                    
    link: "{scheme}://{{ jupyterhub_public_ip }}:{port}/status"                                                                                                
        